* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  width: 100%;
}

nav img {
  width: 60px;
}
nav ul li {
  padding: 0 10px;
}
nav ul li:hover {
  background-color: #48282870;
  cursor: pointer;
}

.container {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.container .column {
  padding: 10px;
  box-sizing: border-box;
  width: 24.5%;
  background-color: #dadadaba;
}
.container .column .title {
  font-size: 25px;
  font-family: sans-serif;
  margin-bottom: 10px;
  color: #312f39;
}
.container .column .card {
  box-sizing: border-box;
  background-color: #ffe6e6;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
.container .column .card .upper {
  margin-bottom: 10px;
  font-weight: bold;
}
.container .column .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .column .card .bottom .left-bottom {
  display: flex;
}
.container .column .card .bottom .left-bottom .date, .container .column .card .bottom .left-bottom .author {
  display: flex;
  align-items: flex-end;
}
.container .column .card .bottom .left-bottom .date .icon-date, .container .column .card .bottom .left-bottom .author .icon-date {
  color: #0674b7ed;
}
.container .column .card .bottom .left-bottom .date .icon-author, .container .column .card .bottom .left-bottom .author .icon-author {
  color: #df9466;
}
.container .column .card .bottom .right-bottom {
  display: flex;
}
.container .column .card .bottom .right-bottom .icon-edit {
  color: #2fa206;
}
.container .column .card .bottom .right-bottom .icon-edit:hover {
  color: #93cc7e;
  cursor: pointer;
}
.container .column .card .bottom .right-bottom .icon-delete {
  color: #c81717;
}
.container .column .card .bottom .right-bottom .icon-delete:hover {
  color: #d55a5a;
  cursor: pointer;
}
.container .column .card .bottom .right-bottom .icon-reorder {
  color: #092fa2;
}
.container .column .card .bottom .right-bottom .icon-reorder:hover {
  color: #5e77c1;
  cursor: pointer;
}
.container .column .card .bottom .right-bottom .photo img {
  width: 40px;
}
.container .column .card .bottom .right-bottom span ul {
  position: absolute;
  z-index: 1;
  width: 40%;
}
.container .column .card .bottom .right-bottom span ul li {
  padding: 3px;
  background-color: #e6f7ff;
  border: 1px solid #fff;
}
.container .column .card .bottom .right-bottom span ul li:hover {
  background-color: #5daed5;
  cursor: pointer;
}
.container .column .newForm {
  background-color: #f2c798db;
  border-radius: 5px;
  padding: 5px 15px;
}
.container .column .newForm .input-field input {
  color: #4f4242;
}
.container .column .newForm .input-field ::-webkit-input-placeholder {
  /* Edge */
  color: #681616;
}
.container .column .newForm .input-field :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #681616;
}
.container .column .newForm .input-field ::placeholder {
  color: #681616;
}
.container .column .newForm .input-field label {
  color: #4f4242;
}
.container .column .newForm .s6 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.container .column .newForm .btnFormTask {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.container .column .newForm .btnFormTask:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.own {
  background-color: #f3ffd1f0 !important;
}

.formR {
  margin-top: 10px;
  text-align: center;
  border: 1px #abb5c6 solid;
  padding: 20px;
  background-color: #d1f4fd63;
}

.martop {
  margin-top: 10% !important;
}

.gSigninButton {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #3c82f7;
  color: #fff;
  box-shadow: 0 3px 0 #0f69ff;
}

.goog {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.goog:hover {
  background-color: #eff4e5;
}

.colBtn {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
