<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./assets/logo.png" type="image/gif" sizes="16x16">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Google oAuth -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="934346728491-d6fjbee0o2ljch7l1psmm4uimle5j271.apps.googleusercontent.com">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- Custom style -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <title>Kaban</title>
</head>
<body>
    <div id="app">

        <!-- Login / Register -->
        <div class="row">
            <div class="col s3 offset-s4">
                <div class="opening" v-if="!isLogin">
                    <form @submit.prevent="loginForm">
                        <h4>Login</h4>
                        <div class="input-field col s12">
                            <input type="text" placeholder="email" v-model="emailLogin">
                            <label>Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="password" placeholder="password" v-model="passwordLogin">
                            <label>Password</label>
                        </div>
                        <div class="input-field col s6">
                            <button type="submit" class="btn">login</button>
                        </div>
                        <div class="input-field col s6">
                            <div class="g-signin2" v-on:click="googleSign(onSignIn)" data-onsuccess="onSignIn"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <!-- <div class="content" v-else> -->
        <div class="content">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img src="./assets/logo.png" alt=""></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li v-on:click="btnLogout">Logout</li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="column" v-for="(category, index) in categories" :key="index">
                    <div class="title">
                        <h5>{{ category }}</h5>
                    </div>
                    <div v-for="task in tasks" :key="task.id" v-if="task.category === category" class="card { 'own' : checkSame(task.UserId,UserId) }">
                        <div class="upper">
                            {{ task.title }}
                        </div>
                        <div class="bottom">
                            <div class="left-bottom">
                                <div class="date">
                                    <i class="material-icons tiny icon-date">date_range</i><span>{{ task.createdAt.slice(0,10) }}</span>
                                </div>
                                <div class="author">
                                    <i class="material-icons tiny icon-author">person</i><span>{{ task.User.name }}</span>
                                </div>
                            </div>
                            <div class="right-bottom" v-if="task.UserId === UserId">
                                <div class="icon-action">
                                    <i class="material-icons tiny icon-edit">edit</i>
                                </div>
                                <div class="icon-action">
                                    <i class="material-icons tiny icon-delete" v-on:click="deleteTask(task.id)">delete</i>
                                </div>
                                <div class="icon-action">
                                    <i class="material-icons tiny icon-reorder">swap_horiz</i>
                                </div>
                            </div>
                            <!-- <div class="photo">
                                <img src="./assets/logo.png" alt="">
                            </div> -->
                        </div>
                    </div>
                    <div class="newForm">
                        <div class="btnFormTask" v-if="isPushedBacklog === true" v-on:click="formTask(category)">
                            <i class="material-icons small">add</i>Add new task
                        </div>
                        <div v-else>
                            <form v-on:submit.prevent="createTask_category">
                                <div class="row">
                                    <div class="input-field">
                                        <input placeholder="Task" type="text" v-model="'newTask'+category">
                                        <label >Task</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <button type="submit" class="btn">Create</button>
                                    </div>
                                    <div class="input-field col s6">
                                        <span class="btn" v-on:click="cancelTask">Cancel</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- axios js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>